<html>
    <head>
        <title>$action.getText("ru.andreymarkelov.atlas.plugins.attrrem.action")</title>
        <meta name="decorator" content="issueaction" />
        $webResourceManager.requireResource("jira.webresources:global-static")
        $webResourceManager.requireResource("jira.webresources:jira-global")
        $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    </head>
    <body class="aui">
        <h2>$action.getText("ru.andreymarkelov.atlas.plugins.attrrem.action")</h2>
        <form class="aui" method="post" action="DeleteAttachAction.jspa">
            <div class="form-body" style="max-height: 468px;">
                <div class="aui-message info">
                    <span class="aui-icon icon-info"></span>
                    <p>$action.getText("ru.andreymarkelov.atlas.plugins.attrrem.action.confirm")</p>
                </div>
            </div>
            <div class="hidden">
                <input type="hidden" name="atl_token" value="$atl_token"/>
            </div>
            <div class="hidden">
                <input type="hidden" name="id" value="$action.getIssueObject().getId()"/>
            </div>
            <div class="buttons-container form-footer">
                <div class="buttons">
                    <input class="button submit" type="submit" name="add" value="$action.getText("common.words.yes")" accesskey="S" title="Press Alt+Shift+S to submit form"/>
                    <a title="Press Alt+Shift+` to cancel" id="assign-issue-cancel" href="/jira/browse/$action.getIssueObject().getKey()" class="aui-button aui-button-link cancel" accesskey="`">Cancel</a>
                </div>
            </div>
        </form>
    </body>
</html>
