<html>
    <head>
        <title>$action.getText("ru.andreymarkelov.atlas.plugins.attrrem.action.error")</title>
        <meta name="decorator" content="issueaction" />
        $webResourceManager.requireResource("jira.webresources:global-static")
        $webResourceManager.requireResource("jira.webresources:jira-global")
        $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    </head>
    <body class="aui">
        <div class="aui-message error shadowed">
            <p class="title">
                <span class="aui-icon icon-error"></span>#foreach($error in $action.getErrorMessages())<p><strong>$error</strong></p>#end
            </p>
        </div>
    </body>
</html>
